.container {
    max-width: 1200px;
    margin-top: 10px;
    padding: 20px;
    background: url('/assets/images/leaders.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section {
    background-color:#fff;
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    color: black;
    text-align: center;
    opacity: 80%;
}
.hero-section h1 {
    font-size: 2.5rem;
}
.hero-section p {
    font-size: 1.2rem;
    margin-top: 10px;
}
.info-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    opacity: 80%;
}
.info-section h2 {
    font-size: 2rem;
    color: #333;
}
.info-section p {
    font-size: 1rem;
    color: #555;
    margin: 20px 0;
}
