<header>
    <div class="header-logo">
        <a routerLink="/">
            <img src="assets/images/logo.png" alt="jkuat elections" >
        </a>
    </div>
    <div class="header-nav">
        <a routerLink="/">HOME</a>
        <a routerLink="/candidates">CANDIDATES</a>
        <a routerLink="/contact">CONTACT</a>
        <div class="headerlogin">
            <!-- <button><a routerLink="/login" class="login-btn"></a>LogIn</button>
            <button><a routerLink="/signup" class="signup-btn"></a>SignUp</button> -->
            <a routerLink="/login" class="login-btn">LogIn</a>
            <a routerLink="/signup" class="signup-btn">SignUp</a>
        </div>
    </div>
</header>