<footer>
    <div class="footer-nav">
        <a routerLink="/">HOME</a>
        <a routerLink="/candidates">CANDIDATES</a>
        <!-- <a class="nav-link disabled" routerLink="/results">RESULTS</a> -->
        <a routerLink="/contact">CONTACT</a>
    </div>

    <div class="social-links">
        <a href="gmail.com"><i class="fa-solid fa-envelope"></i></a>
        <a href="0739602014"><i class="fa-sharp fa-solid fa-phone"></i></a>
        <a href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href="x.com"><i class="fa-solid fa-x"></i></a>
    </div>
    <p>CopyRight &copy; All rights reserved 2024 JOMO KENYATTA UNIVERSITY OF AGRICULTURE AND TECHNOLOGY</p>
</footer>