.candidates{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.candidtes-header{
    padding: 20px 0;
    margin: 15px;
    position: relative;
}

.candidtes-header h4{
    font-weight: 600;
    width: 95%;
    align-items: center;
    text-align: center;
}

.candidtes-header i{
    position: absolute;
    right: 50px;
    top: 35px;
    font-size: 1.3rem;
    cursor: pointer;
}

.candidates-body{
    display: none;
}

.candidates-body.open{
    display: block;
}

input{
    font-size: 25px;
}

img{
    width: 250px;
    height: 125px;
}

.btn{
    margin-left: 90%;
    font-size: 22px;
}

@media (max-width: 768px) {

}