    <div class="container">
        <h2>Contact Us</h2>
        <form id="contactForm">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Your name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Your email" required>

            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" placeholder="Your message" required></textarea>

            <button type="submit">Submit</button>
        </form>

        <div class="contact-info">
            <i class="fa-sharp fa-solid fa-phone"></i>:  <a href="0739602014">0739602014</a><br>
            <i class="fa-solid fa-envelope"></i>:  <a href="gmail.com">ovsjkuat.ac.ke</a><br>
            <i class="fa-brands fa-instagram"></i>: <a href="instagram.com">jkuat_elections</a><br>
            <i class="fa-solid fa-x"></i>: <a href="x.com">jkuat_x_elections</a>
            <p>P.O. Box: 62000 - 00200 NAIROBI, KENYA,</p>

            <div class="visit-us">
                <h3>You Can Also Visit us At:</h3>
                <p>JKUAT MAIN CAMPUS,</p>
                <P>IEET BUILDING,</P>
                <P>2nd FLOOR</P>
            </div>
        </div>
    </div>
